<footer> 
    <section>
        <p>Criado por: Dhainara Corrêa.</p>
    </section>
   
<section id="links">
    <a href="https://www.linkedin.com/in/dhainara-corr%C3%AAa-7913a01b2/"><img
            src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a>
    <a href="https://github.com/dhainara?tab=repositories"><img
            src="https://cdn-icons-png.flaticon.com/512/25/25231.png"></a>
</section>

    
</footer>