<header id="header">
    <a href="/"><img src="./img/pokemon-logo.png" alt="Logo Pokémon"></a>

    <nav>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="./cadastro">
                <li>Cadastro</li>
            </a>

        </ul>

    </nav>
</header>